
// Header

.header{
    .header__container{
        .header__title{
            font-size: 3.5vw;
            .header__author{
                font-size: 2vw;
            }
        }
        .header__user{
            width: 55%;
            .header__username{
                font-size: 2.5vw;
            }
            .header__list{
                .header__item{
                    .header__link{
                        font-size: 2vw;
                    }
                }
            }
        }
        
    }

    

}
