<header class="header">
  <div class="header__container">
    <h1 class="header__title">
      Task-App <span class="header__author"> By Rodrigo Alanis </span>
    </h1>
    <div class="header__user" *ngIf="VerifySession()">
      <ul class="header__list">
        <li class="header__item"><a href="#" class="header__link">Edit</a></li>
        <li class="header__item"><a href="#" class="header__link">Settings</a></li>
        <li class="header__item"><a (click)="LogOut()" href="#" class="header__link">Log Out</a></li>
      </ul>
      <h2 class="header__username">
        User Name
      </h2>
    </div>
    <h2 class="header__msg" *ngIf="!VerifySession()">
      <a routerLink="/auth">
        Login or Register
      </a>
    </h2>
  </div>
</header>

<router-outlet ></router-outlet>